html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 header{
     text-transform: uppercase;
     color: black;
     font-weight: bold;
     font-family: 'Bebas Neue', cursive;
     text-align: center;
     font-size: 5.0em;

 }
 header{ 
    width: 500px; 
    padding: 10px; 
    margin-left: 600px; 
 }
    

 
 div {
     background-image: linear-gradient(to right bottom, 
     rgba(149, 167, 167, 0.4), 
     rgba(149, 167, 167, 0.4) 
     ), url(earth.webp);
     height:200vh ;  
     background-size: cover;
 }

 h1{
    position: absolute;
    font-size: 2.0em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: goldenrod;

 }
