html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

<<<<<<< HEAD
div{
    background-image: linear-gradient(to right bottom,
    rgba(170, 165, 162, 0.4),
    rgba(170, 165, 162, 0.4)
    ),  url(earth.webp);
     height:100vh ;  
     background-size: cover;
}

header{
    font-size: 10rem;
    font-weight: bold;
    text-align: center;


}


 /* header{
=======
    div {
        background-image: linear-gradient(to right bottom, 
        rgba(209, 219, 219, 0.4), 
        rgba(209, 219, 219, 0.4), 
        ), url(earth.webp);
        height:200vh ; 
        background-size: cover; 
        outline: 10px solid rgb(41, 80, 95);
        


        
    }

 header{
>>>>>>> 58fcf49da7a0c16778b14da83fe0fd6970699ea7
     text-transform: uppercase;
     color:white;
     font-weight: bold;
     font-family: 'Bebas Neue', cursive;
     text-align: center;
<<<<<<< HEAD
     font-size: 1rem; */
     

 }
 /* /* header{ 
    width: 500rem; 
    padding: 10rem; 
    margin-left: 700rem; 
    margin-left: 700rem;
    margin-top: 800rem;
 }
     */

 
 /* body{
     .background {
  background-color:rgb(41, 80, 95);
  opacity: 0.5;
  filter: Alpha(opacity=50);
}
 }

 .background {
    background-color: black;
    opacity: 0.5;
    filter: Alpha(opacity=50);
  }

 h1{
    position: absolute;
    font-size: 2.0em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: goldenrod;

 } */ */
=======
     font-size: 8.0em;
     letter-spacing: .5em;

}

h1{
    border: 10px solid rgb(41, 80, 95);
    padding: 5px; 
    margin-left: 375px;
    width: 500px;
    text-align: center;
    color:black;
}



 .font {
     font-weight: bolder;
     font-size: 1em;
     font-family: cursive;
     line-height: 2;
 }


 .background {
    background-color:rgb(41, 80, 95);
    opacity: 0.5;
    filter: Alpha(opacity=50);
 }
 
 

 
>>>>>>> 58fcf49da7a0c16778b14da83fe0fd6970699ea7
